@font-face {
	font-family: Pe-icon-7-stroke;
	src: url(../fonts/Pe-icon-7-stroke.eot?-9uki6c);
	src: url(../fonts/Pe-icon-7-stroke.eot?#iefix-9uki6c) format('embedded-opentype'), url(../fonts/Pe-icon-7-stroke.woff?-9uki6c) format('woff'), url(../fonts/Pe-icon-7-stroke.ttf?-9uki6c) format('truetype'), url(../fonts/Pe-icon-7-stroke.svg?-9uki6c#Pe-icon-7-stroke) format('svg');
	font-weight: 400;
	font-style: normal;
	font-display: swap;
}

[class*=" pe-7s-"],
[class^=pe-7s-] {
	display: inline-block;
	font-family: Pe-icon-7-stroke;
	speak: none;
	font-style: normal;
	font-weight: 400;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale
}

.pe-7s-angle-up:before {
	content: "\e682"
}

.pe-7s-angle-right:before {
	content: "\e684"
}

.pe-7s-angle-left:before {
	content: "\e686"
}

.pe-7s-angle-down:before {
	content: "\e688"
}

.pe-7s-unlock:before {
	content: "\e607"
}

.pe-7s-timer:before {
	content: "\e60b"
}

.pe-7s-target:before {
	content: "\e60d"
}

.pe-7s-search:before {
	content: "\e618"
}

.pe-7s-science:before {
	content: "\e619"
}

.pe-7s-portfolio:before {
	content: "\e622"
}

.pe-7s-plus:before {
	content: "\e623"
}

.pe-7s-phone:before {
	content: "\e627"
}

.pe-7s-music:before {
	content: "\e630"
}

.pe-7s-more:before {
	content: "\e632"
}

.pe-7s-menu:before {
	content: "\e636"
}

.pe-7s-mail:before {
	content: "\e639"
}

.pe-7s-link:before {
	content: "\e641"
}

.pe-7s-like:before {
	content: "\e642"
}

.pe-7s-light:before {
	content: "\e643"
}

.pe-7s-home:before {
	content: "\e648"
}

.pe-7s-help2:before {
	content: "\e649"
}

.pe-7s-help1:before {
	content: "\e64a"
}

.pe-7s-graph3:before {
	content: "\e64b"
}

.pe-7s-graph2:before {
	content: "\e64c"
}

.pe-7s-graph1:before {
	content: "\e64d"
}

.pe-7s-graph:before {
	content: "\e64e"
}

.pe-7s-global:before {
	content: "\e64f"
}

.pe-7s-filter:before {
	content: "\e655"
}

.pe-7s-drop:before {
	content: "\e65a"
}

.pe-7s-box2:before {
	content: "\e673"
}

.pe-7s-box1:before {
	content: "\e674"
}

.pe-7s-bookmarks:before {
	content: "\e675"
}